@model DrunkenChair.Models.CharacterEventDetails

@{
    ViewBag.Title = "Händelser";
}

<h2>View</h2>


@using(Html.BeginForm())
{
    @Html.DisplayFor(m => m.CharacterConstructionSite.Character);
   
}