@model  Niklasson.EonIV.CharacterGeneration.BusinessObjects.CharacterGenerationData
<table>
    <caption>Meta data</caption>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.EventRolls)</td>
            <td>@Html.DisplayFor(model => model.Skillpoints)</td>
        </tr>
    </tbody>
</table>
