@using Niklasson.DrunkenChair.Shared.DatabaseTables
@using Niklasson.EonIV.Models.BusinessObjects
@model Niklasson.EonIV.Models.BusinessObjects.CharacterModificationOptions

<div style="margin-left:24px">
@{
    if (Model.Alternatives.Count == 1)
    {
        <br />
        @Html.DisplayFor(m => m.Alternatives[0]);
    }
    else
    {
        foreach (CharacterModifier mod in Model.Alternatives)
        {
            <br />  
            @Html.RadioButton(Model.ID.ToString(), mod);
            @mod.ToString();
        }
    }
}
</div>