@model  Niklasson.EonIV.CharacterGeneration.BusinessObjects.CharacterGenerationData
<table>
    <tbody>
        <tr>
            <th>@Html.LabelFor(m => m.EventRolls)</th>
            <td>@Html.DisplayFor(model => model.EventRolls)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(m => m.Skillpoints)</th>
            <td>@Html.DisplayFor(model => model.Skillpoints)</td>
        </tr>
    </tbody>
</table>
