@model Niklasson.DrunkenChair.DatabaseTables.CharacterModificationOptions
@using Niklasson.DrunkenChair.DatabaseTables;

<div style="margin-left:24px">
@{
    if (Model.Alternatives.Count == 1)
    {
        <br />
        @Html.DisplayFor(m => m.Alternatives[0]);
    }
    else
    {
        foreach (EonIVCharacterModifier mod in Model.Alternatives)
        {
            <br />  
            @Html.RadioButton(Model.ID.ToString(), mod);
            @mod.ToString();
        }
    }
}
</div>