@model Niklasson.DrunkenChair.Models.CharacterEventDetails

@{
    ViewBag.Title = "Händelser";
}

<h2>Händelser</h2>


@using(Html.BeginForm("CharacterEventDetails", "EonIvCharacterCreator", FormMethod.Post))
{
    <div>
        <div style="display:inline-block; width:50%">
            @{Html.RenderPartial("RolledEvents", Model.RolledEvents);}
        </div>   
    
        <div style="display:inline-block">
            @Html.DisplayFor(m => m.CharacterConstructionSite)
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/js/EonIvCharacters/characterEventDetails.js")"></script>

}
