@model Niklasson.DrunkenChair.Models.CollectionTest

@{
    ViewBag.Title = "CollectionView";
}

<h2>CollectionView</h2>

@using (Html.BeginForm("CollectionTest", "EonIvCharacterCreator", FormMethod.Post))
{
    @Html.EditorForModel()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="previousButton" value="Previous" class="btn btn-default" />
            <input type="submit" name="nextButton" value="Next" class="btn btn-default" />
        </div>
    </div>
}